.portfolio-container {
  padding: 20px;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-out;
  display: flex;
  flex-direction: column;
}

.portfolio-content {
  display: flex;
  flex: 1;
  gap: 20px;
  overflow: hidden;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
